
body{
    width: 100%;
    margin: 0px;
    background-color: rgb(182, 214, 229);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.form_box{
    width: 400px;
    display: flex;
    flex-direction: column;
    background-color:rgb(255, 255, 255);
    padding: 20px 25px 8px 25px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
                0 35px 54px -48px rgba(0,0,0,0.7);

}

.form_box h1{
    color: rgb(7, 64, 114);
    text-align: center;
    font-size: 30px;
    font-family: 'Poppins',sans-serif;
    height: 50px;
    border-bottom: 1px solid rgba(137, 137, 137, 0.321);
}
.form_box .field{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.form_box .field input {
    width: 98.5%;
    height: 35px;
    border: 1px solid rgba(112, 112, 112, 0.445);
    border-radius: 5px;
    outline: none;
    font-size: 17px;
}
.form_box .field label{
    font-family: 'Poppins',sans-serif;
}

.btn{
    margin-bottom: 10px ;
    width: 100%;
    height: 35px;
    font-size: 18px;
    border: 1px solid rgba(112, 112, 112, 0.445);
    background-color: rgba(125, 132, 224, 0.936);
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    color: rgb(255, 255, 255);
}



