/* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background: radial-gradient(50.53% 50.53% at 50.23% 49.47%, #414d59 0%, #1d252f 100%);
  overflow: hidden;
  backdrop-filter: blur(15px);
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #3f3f3f56;
  z-index: 100;
  transition: all 0.5s ease;
  backdrop-filter: blur(8px);
  border-right: 1px solid rgba(255, 255, 255, 0.61);
  box-shadow: 0px 0px 5px 0px white;
}
.sidebar.close{
  width: 78px;
}
.sidebar .user_details{
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  
}
.sidebar .user_details .user_img{
  position: fixed;
  width: 60px;
  height: 60px;
  overflow: hidden;
  border-radius: 50%;
  margin: 30px 20px 0px 10px;
}
.sidebar .user_details .user_img img{
  height: 100%;
}
.sidebar .user_details .data_line{
  position: relative;
  left: 35%;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.sidebar .user_details .user_data2{
  font-size: 16px;
  color: #d8c4c4;
  font-weight: 400;
  transition: all 0.3s ease;
}
.sidebar .user_details .user_data{
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  transition: all 0.6s ease;
}
.sidebar.close .user_details .data_line{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .open_close i{
  margin-top: 5px;
  margin-left: 200px;
  height: 50px;
  min-width: 50px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 35px;
  cursor: pointer;
  transition: all 1s ease;
}
.sidebar.close .open_close i{
  margin-left: 20px;
  transition: all 0.6s ease;
}
.sidebar.close .open_close i.icon{
  transform: rotate(-180deg);
}
.sidebar .nav_list{
  border-top: 2px solid rgba(111, 102, 102, 0.497);
  height: calc(100% - 250px);
  padding: 0px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav_list{
  overflow: visible;
}
.sidebar .nav_list::-webkit-scrollbar{
  display: none;
}
.sidebar .nav_list li{
  position: relative;
  list-style: none;
  border-bottom: 2px solid rgba(111, 102, 102, 0.497);
}

.sidebar.close .nav_list li .iocn_link, .sidebar.close .log .icon_link{
  display: block
}
.sidebar .log i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
  
}
.sidebar .log a {
  border-top: 2px solid rgba(111, 102, 102, 0.497);
  border-bottom: 2px solid rgba(111, 102, 102, 0.497);
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.4s ease;
}
.sidebar .nav_list li:hover, .sidebar .log:hover{
  background: rgb(35, 32, 66);
}

.sidebar .nav_list li .iocn_link , .sidebar .log .icon_link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar .nav_list li:hover, .sidebar .log .icon_link a:hover{
  color: red;
}
.sidebar .nav_list li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav_list li.showMenu i.arrow{
  transform: rotate(-180deg);
}

.sidebar.close .nav_list i.arrow{
  display: none;
}
.sidebar .nav_list li a, .sidebar .log a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav_list li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
  transition: all 0.4s ease;
}
.sidebar.close .nav_list li a .link_name , .sidebar.close .log a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav_list li .sub_menu{
  padding: 0px 0px 0px 80px;
  margin-top: -10px;
  background: rgb(35, 32, 66);
  display: none;
}
.sidebar .nav_list li .sub_menu li{
  border-bottom: 1px solid rgba(255, 241, 241, 0);
}
.sidebar .nav_list li.showMenu .sub_menu{
  display: block;
}
.sidebar .nav_list li .sub_menu a{
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  padding: 11px 20px;
  opacity: 0.6;
  white-space: nowrap;
  transition: all 0.3s ease;
}
.sidebar .nav_list li .sub_menu a:hover{
  opacity: 1;
  background-color: #fff;
  color: #11101d;
  font-weight: 500;
  transition: all 0.3s ease;
}
.sidebar.close .nav_list li .sub_menu{
  width: 150px;
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 0px;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav_list li:hover .sub_menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav_list li .sub_menu .link_name{
  display: none;
}
.sidebar.close .nav_list li .sub_menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav_list li .sub_menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 0px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav_list li:hover .sub_menu.blank{
  top: 50%;
  transform: translateY(-50%);
}

.home_section{
  position: relative;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  padding: 12px;
}
.sidebar.close ~ .home_section{
  left: 78px;
  width: calc(100% - 78px);
}
.home_content{
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.home_section .home_content .bx-menu,
.home_section .home_content .text{
  color: #11101d;
  font-size: 35px;
}
.home_section .home_content .bx-menu{
  cursor: pointer;
  margin-right: 10px;
}
.home_section .home_content .text{
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 400px){
  .sidebar{
    width: 240px;
  }
  .sidebar.close{
    width: 78px;
  }
  .home_section{
    left: 240px;
    width: calc(100% - 240px);
  }
  .sidebar.close ~ .home_section{
    left: 78px;
    width: calc(100% - 78px);
  }
}